*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}



/* Image Position */
.container{
    position: relative;
    width:100%;
    height: 90vh;
    max-width: 1600px;
    max-height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container .image-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    padding:10px;
    width: 40%;
    height: calc(50%-20px);
    min-width: 300px;
    min-height: 200px;
    margin: 10px;
    overflow: hidden;
    display: block;
}

.container .image-container .image{
    width: 100%;
    height: 100%;
    border: 10px solid rgb(221, 221, 221);
    box-shadow: 0 5px 15px rgba(blue, red, green, .1);
    overflow: hidden;
    object-fit: cover;
    transition: 1s;
}
/* Custom Button */
.button{
    background-color:rgba(199, 61, 187, 0.986);
    border: 2px solid #ffffff;
    color: rgb(224, 205, 205);
    padding:15px 32px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size:20px;
    transition-duration:0.4s;
    cursor: pointer;
}

.button0{
    transform: translate(165%, -200%);
}

.button1{
    transform: translate(110%, -200%);
    background-color: #4CAF50;
}

.button2{
    transform: translate(120%, -200%);
    background-color: blue;
}

.button3{
    transform: translate(140%, -200%);
    background-color: royalblue;
}

.button4{
    transform: translate(170%, -200%);
    background-color: red;
}

.button:hover {
    background-color: #b8b8b8;
    color: rgb(255, 255, 255);
}


/* Darkmode */

:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);
    --bg-colour:rgb(122, 196, 209);
    --font-color:rgb(0, 60, 255);
    --heading-color:rgb(196, 62, 62);
    --toogle-color: rgb(54, 172, 174);
    --name-color:rgb(196, 79, 79);
}



[data-theme="dark"] {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
    --bg-colour: #a9a9fe;
    --font-color:#00f0f0;
    --heading-color:#5e71a5;
    --toogle-color: rgb(189, 137, 215);
    --name-color:#00f0f0;
}

body {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/* Custom headers */
h1 {
    color: var(--name-color);
    font-family: 'roboto', sans-serif;
    background-color: var(--bg-colour);
    padding: 50px;
    font-size:60px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

h2 {
    line-height: 150%;
    font-family: 'Varela Round', sans-serif;
    font-style: bold;
    color: var(--heading-color);
}

h3, h4{
    font-family: 'Montserrat', sans-serif;
    color: var(--heading-color);
}

/* Custom the pressing link */

a:visited {
    color: var(--font-color);
}

a:link {
    color: var(--heading-color);
}

a:hover {
    color: crimson;
}

a:active{
    color: burlywood;
}

.buttontoogle{
    background-color:var(--toogle-color);
    border: 2px solid #308eb6;
    color: var(--primary-color);
    padding:15px 32px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size:20px;
    transition-duration:0.4s;
    cursor: pointer;
    transform: translate(600%, -200%);
    font-family:'Dancing Script';
    border-radius: 40px;
}

.menu li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 30px;
}

/* Custom Insert Name Box */

input{
    padding: 8px;
    position: relative; left:50px; bottom: 120px;
}

.applybtn{
    transform: translate(150%, -625%);
    background-color:var(--toogle-color);
    border: 2px solid #308eb6;
    color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    transition-duration:0.4s;
    cursor: pointer;
}

p{
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
}
#p1{
    font-family:Arial, Comic, Georgia;
    font-style:normal;
}

/* Custom references list */
.references li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 200px;
}